/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}


/* Common */

.container1 {
    margin: 0 auto;
    width: 70%;
}

.container2 {
    margin: 0 auto;
    width: 60%;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.col-35 {
    width: 35%;
}
.col-60 {
    width: 60%;
}

.col-30 {
    width: 30%;
}

.pad-40y {
    padding: 40px 0;
}

.mar-40y{
    margin: 200px auto;
}

.mar-30y{
    margin: 30px auto;
}

.mar-bott {
    margin-bottom: 50px;
}

.mar-bott2 {
    margin-bottom: 15px;
}
.border-box{
    border: 1px solid black;
}


/* Utilities */
:root {
    --common-color-1 :
}


/* HEADER */

.header {
    /* debug */
    background-color:gray;
    height: 60px;
    padding: 20px;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.nav-link > li{
    display: inline-block;
}
/* Main */

/* Hero */


.hero {
    background-color: #B4D0E6;
}

.hero-box {
    justify-content: space-between;
}

.hero-textbtn, .hero-img {
    /* debug */
    background-color: #00ffff;
}

.hero-img {
    width: 60%;
}

/* Piano-business */

.seconda-parte {
    justify-content: space-between;
}

/* debug */

.piano {
    height: 900px;
}

.piano-icon {
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.enterprise-box {
    height: 300px;
}


/* Partner */

.partner {
    justify-content: space-around;
}

.partner-text {
    width: 20%;
    /* debug */
    background-color: #00ffff;
}

.partner-img {
    width: 60%;
    /* debug */
    background-color: #00ffff;
}

/* Business */

.dropbus-box {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* Footer */

footer {
    background-color: black;
}

.footersite {
    justify-content: space-between;
}

.footerlist {
    width: 15%;
}

.footerlist, .linklist, .link, .lang-link {
    color: white;
}

.lang-link {
    border-top: 1px solid white;
}

