/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}


/* Common */

body {
    font-family: 'Open Sans', sans-serif;
}

.container1 {
    margin: 0 auto;
    width: 65%;
}

.container2 {
    margin: 0 auto;
    width: 60%;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h2 {
    font-size: 40px;
}

.underline {
    text-decoration: underline;
}

.border-box{
    border: 1px solid black;
}

.btn {
    background-color: #0061FE;
    padding: 10px 20px;
    color: var(--common-color-1);
}

.bold {
    font-weight: bold;
}

/* Utilities */
:root {
    --common-color-1: #ffffff;
    --common-color-2: #000000;
}

.col-35 {
    width: 35%;
}
.col-60 {
    width: 60%;
}

.col-30 {
    width: 30%;
}

.pad-40y {
    padding: 40px 0;
}

.pad-bot {
    padding-bottom: 50px;
}

.pad-bot20 {
    padding-bottom: 20px;
}

.pad-left {
    padding-left: 5px;
}

.mar-200y{
    margin: 200px auto;
}

.mar-30y{
    margin: 30px auto;
}

.mar-40y {
    margin: 40px auto;
}

.mar-bott {
    margin-bottom: 50px;
}

.mar-bott2 {
    margin-bottom: 15px;
}

.mar-bott3 {
    margin-bottom: 75px;
}

/* BODY */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HEADER */

.header {
    height: 70px;
    padding: 20px;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.nav-link > li{
    display: inline-block;
    padding-left: 30px;
    font-size: 15px;
}

.logo {
    width: 120px;
}


.li-nav {
    color: var(--common-color-2);
}

/* Main */

/* Hero */


.hero {
    background-color: #B4D0E6;
}

.hero-box {
    position: relative;
    justify-content: space-between;
}

/* .hero-img {
    position: absolute;
    top: 0;
} */

h1 {
    font-size: 70px;
    font-weight: bold;
}

.freccia-giù {
    position: relative;
    top: 35px;
    font-size: 50px;
}


/* Piano-business */

.piano-business {
    padding-top: 150px;
}

.seconda-parte {
    justify-content: space-between;
}

.fattura {
    padding-right: 30px;
}

.piano-icon {
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.card-piano {
    padding: 30px 20px;
    border-top: 1px solid var(--common-color-2);
}

.divisore {
    width: 70px;
    border: 1px solid var(--common-color-2);
    opacity: 0.2;
}

.costo {
    margin-bottom: 10px;
}

/* Enterprise */

.enterprise-box {
    height: 300px;
}


/* Partner */

.partner {
    justify-content: space-around;
}

.partner-text {
    width: 20%;
    /* debug */
    background-color: #00ffff;
}

.partner-img {
    width: 60%;
}

/* Business */

.dropbus-box {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

/* Footer */

footer {
    background-color: var(--common-color-2)
}

.footersite {
    justify-content: space-between;
}

.footerlist {
    width: 15%;
}

.footerlist, .linklist, .link, .lang-link {
    color: var(--common-color-1)
}

.language {
    border-top: 1px solid var(--common-color-1);
    width: 30%;
}